---

---

<div class="flex items-center md:gap-8">
    <a href="https://stockx.com/category/sneakers?xpress-ship=true">
        <img
            src="https://images-cs.stockx.com/v3/assets/blt818b0c67cf450811/blt182ea4ca5c5e9681/6716720a1c3e1802ff6048d3/XpressShipSneakers_SecondaryA_(1).jpg?format=jpg&auto=webp&height=438"
            alt="bento-img-1"
            class="rounded-2xl w-full h-full object-cover hidden md:block"
        />
    </a>
    <a href="https://stockx.com/category/sneakers?xpress-ship=true" class="w-full md:w-auto">
        <img
            src="https://images-cs.stockx.com/v3/assets/blt818b0c67cf450811/bltbae73c2bfa571514/67170e220692b57126655090/Creative_6_(1).jpg?format=jpg&auto=webp&height=438"
            alt="bento-img-2"
            class="rounded-2xl object-cover w-full h-full"
        />
    </a>
</div>
