---
const CAROUSEL_IMAGES = [
    {
        src: "images/carousel-image-1.webp",
        href: "#",
    },
];
---

<div class="flex relative rounded-lg">
    {
        CAROUSEL_IMAGES.map(({ src, href }) => (
            <a href={href} class="w-full">
                <img src={src} class="w-full h-auto object-cover rounded-2xl" />
            </a>
        ))
    }
</div>
