---
import AppStore from "@icons/AppStore.astro";
import GooglePlay from "@icons/GooglePlay.astro";
---

<div class="flex flex-col gap-y-3 self-start mt-2">
    <a href="https://itunes.apple.com/us/app/stockx-buy-sell-authentic/id881599819?mt=8">
        <AppStore class="rounded-lg w-auto h-11 "  />
    </a>
    <a href="https://play.google.com/store/apps/details?id=com.stockx.stockx&hl=en_US">
        <GooglePlay class="rounded-xl w-auto h-10" />
    </a>
</div>