---
import LinksSection from "./LinksSection.astro";
---

<div class="bg-[#fafafa] px-12 py-6  md:px-28 md:py-12 text-black">
    <h1 class="font-serif text-4xl font-medium" >StockX. Access the Now</h1>
    <LinksSection />
</div>