---
import Separator from "@components/Separator.astro";
---

<div class="rounded-full border border-black px-5 py-1 items-center gap-x-3 font-semibold text-lg  cursor-pointer transition duration-300 hover:bg-black hover:text-white hidden md:flex ">
    <p>Spain</p>
    <Separator class="mb-1" />
    <p>English</p>
    <Separator class="mb-1" />
    <p>€ EUR</p>
</div>