---
const SHORTCUTS = [
    {
        label: "Brands",
        href: "https://stockx.com/brands",
    },
    {
        label: "Deals",
        href: "/",
    },
    {
        label: "New",
        href: "https://stockx.com/category/sneakers",
    },
    {
        label: "Men",
        href: "https://stockx.com/men",
    },	
    {
        label: "Women",
        href: "https://stockx.com/women",
    },
    {
        label: "Kids",
        href: "https://stockx.com/kids",
    },
    {
        label: "Sneakers",
        href: "https://stockx.com/category/sneakers",
    },
    {
        label: "Shoes",
        href: "https://stockx.com/category/shoes",
    },
    {
        label: "Apparel",
        href: "https://stockx.com/category/apparel",
    },
    {
        label: "Accessories",
        href: "https://stockx.com/category/accessories",
    },
    {
        label: "More Categories",
        href: "https://stockx.com/category/collectibles",
    }
];
---

<div class=" justify-center items-center gap-x-4 bg-secondary p-3 hidden lg:flex">
    {
        SHORTCUTS.map(({label, href}) => (
            <a href={href} class="text-white text-xl font-medium">
                {label}
            </a>
        ))
    }
</div>

<style scoped>
    a {
        position: relative;
    }

    a::after {
        content: "";
        position: absolute;
        left: 50%;
        right: 50%;
        bottom: -12px;
        width: 0;
        height: 3px;
        background-color: white;
        transition: all 0.2s ease-in-out;
        transform: translateX(-50%);
    }

    a:hover::after {
        width: 120%;
    }
</style>
