---
import Facebook from "@icons/Facebook.astro";
import Instagram from "@icons/Instagram.astro";
import X from "@icons/X.astro";
import Youtube from "@icons/Youtube.astro";


---

<div class="flex items-center gap-x-4">
    <a href="https://twitter.com/stockx">
        <X class ="size-5 text-black" />
    </a>
    <a href="https://www.facebook.com/stockxmarket">
        <Facebook class ="size-5 text-black" />
    </a>
    <a href="https://www.instagram.com/stockx/">
        <Instagram class ="size-5 text-black" />
    </a>
    <a href="https://youtube.com/stockx/" >
        <Youtube class ="size-5 text-black" />
    </a>
</div>








    
    


    

