---

interface Props{
    toolTipMessage: string
}

const { toolTipMessage } = Astro.props
---

<div class="absolute bottom-8 left-1/2 transform -translate-x-1/2 min-w-60 opacity-0 group-hover:opacity-100 transition-opacity duration-300 pointer-events-none group-hover:pointer-events-auto">
    <div class="bg-white text-black text-xs rounded py-2 px-2 relative">
      <p>{toolTipMessage}</p>
      <div class="absolute -bottom-1 left-1/2 transform -translate-x-1/2 w-2 h-2 bg-white rotate-45"></div>
    </div>
</div>